@font-face {
    font-family: Vazir;
    src: url('fonts/Vazirmatn-FD-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('fonts/Vazirmatn-FD-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Vazir;
    background-color: #e8e8e8;
    color: #2c3e50;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    max-width: 1320px;
    margin: 0 auto;
}

.box {
    flex: 1;
    height: auto;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .container, .buttons {
        flex-direction: row;
    }
}

.logo {
    text-align: center !important;
    margin-bottom: 30px;
}

.mt {
    margin-top: 10rem;
}

.center {
    text-align: center !important;
}

figure.laravel img,
figure.wordpress img,
figure.filament img {
    width: 100px;
}

button.github {
    background: #24292e;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    font-family: inherit;
}


.buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
}

.btn {
    flex: 1;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.wordpress{
    background: #1780b4;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    font-family: inherit;
}